:root {
    --primary: #a0ddff; 
    --secondary: #8bb6e6;
    --accent1: #7189ff;
    --accent2: #c1cefe;
}

body {
    background-color: var(--primary);
    padding: 15px;
}

a {
    text-decoration: none;
}

.raft-title {
    position: absolute;
    bottom: 40%;
    width: 96.5%;
    background: rgba(0, 0, 0, 0.5); 
    color: white;
    text-align: center;
    padding: 20px 0;
    font-size: 20px;
    font-weight: bold;
} 

.hero img {
	position: relative;
	width: 100%;
	height: auto;
    float: right;
}

.article-employee {
    position: absolute;
}

header {
    display: grid;
    grid-template-columns: auto 1fr; /* Image takes auto width, nav takes remaining space */
    align-items: center;
    padding: 10px;
    background-color: #f4f4f4;
}

nav {
    display: flex;
    justify-content: flex-start; /* Align links to the right */
    gap: 20px; /* Space between links */
}

nav a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    padding: 5px 10px;
}

nav a:hover {
    color: #007bff;
}
